.tabela {
    width: 75%;
    border-collapse: separate;
    height: 45%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lista{
    border-style: inherit;
    width: 20%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tabela th, .tabela td {
    border: solid #ddd;
    padding: 2px;
    text-align: center;
}

body {
    background-color:#f6f2e8;
}

#titulo{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#encomenda{
     color:	#FFC000;
}
#disp1{
    color: green;
}
#disp2{
    color: green;
}